@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;400;500;700&display=swap');

html {
    font-family: 'IBM Plex Serif';
    background-color: olive;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: olive;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;;
    color: #0a5c37;
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: #0a5c37;
}

nav {
    margin: 10px;
    padding: 10px;
    background-color: #999999;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: #0a5c37;
    border-bottom: 2px solid #0a5c37;
}


div {
    padding: 10px;
    display: flex;
}

.biocontainer {
    margin: 30px;
    padding: 10px;
    border: 5px solid #0a5c37;
}

.biotext {
    flex-direction: column;
}

img {
    max-width: 300px;
    height: 100%;
    object-position: left;
}

footer {
    text-align: center;
    background-color: olive;
    padding: 10px;
    color: #fff;
}

form {
    margin: 50px auto;
    width: 90%;
}
.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid black;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #0a5c37;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #0a5c37;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #0a5c37;
    background-color: #0a5c37;
    color: #FFF;
}

.form-item button {
    width: 100px;
}